
.nav {
  background-color: #23272F;
}

.titulo {
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

.botones {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    gap: 10px;
}
 .explicacion{
  text-align: center;
 }